html {
  font-family: "nyt-franklin", arial, helvetica, sans-serif;
}
.sidebar-about h1 {
  font-size: 3rem;
}
.sidebar-nav-item {
  margin: 0 0 0 21px;
}
.sidebar-nav-hash {
  margin: 0;
}
.sidebar-nav-hash:before {
  content: "#";
  font-family: "nyt-stymie", serif;
  color: #fff;
  margin: 0 8px 0 0;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "nyt-stymie", serif;
}
div.example {
  margin-bottom: 15px;
}
.clearfix:after, .example:after {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
div.example > div:first-child {
  float: left;
  clear: left;
  width: 49%;
}
div.example > div:last-child {
  display: inline-block;
  box-sizing: border-box;
  float: right;
  clear: right;
  width: 49%;
}
div.example > div > textarea {
  padding: 14px;
  border: none;
  min-height: 78px;
  border: 1px solid #eee;
}
div.example > div > textarea:focus {
  outline: none;
  border: 1px solid #444;
}
div.example > div > pre {
  padding: 15px;
  width: 100%;
  margin: 0;
  min-height: 78px;
}
h3 ~ div > div:before {
  margin: 4px 0 4px 0;
  font-size: 16px;
  display: none;
  color: #888;
  font-family: "nyt-stymie", serif;
  font-weight: normal;
}
h3 ~ div > div:first-child:before {
  content: "ArchieML";
}
h3 ~ div > div:last-child:before {
  content: "Output";
}

h3 + div > div:first-child:before,
h3 + p + div > div:first-child:before,
h3 + p + p + div > div:first-child:before {
  display: block;
}
h3 + div > div:last-child:before,
h3 + p + div > div:last-child:before,
h3 + p + p + div > div:last-child:before {
  display: block;
}

div.example div pre, div div textarea {
  font-family: Consolas, Monaco, 'Andale Mono', monospace;
  font-size: 14px;
  color: #333;
  background: #eee;
  width: 100%;
  box-sizing: border-box;
}
aml { display: none; }
